﻿@using Microsoft.AspNetCore.Components

<div class="alert alert-success">
    @AlertText
</div>

<ChildComponent>This is a child</ChildComponent>

@code
{
    [Parameter]
    public string AlertText { get; set; }
}