﻿@page "/counter"
@page "/counter/{startingCount:int}"
@using BlazorServer.Services
@using Fluxor
@using Fluxor.Blazor.Web.Components
@using BlazorServer.Store.Counter 
@inject NavigationManager NavigationManager
@inject VisitTrackingService VisitTrackingService
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState 

<h1>Counter</h1>

<p>Current count: @CounterState.Value.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-warning" @onclick="MoveMeToHome">Let's go home</button>

<ChildComponent>Hey I'm a child!</ChildComponent>

@code {

    [Parameter]
    public int StartingCount { get; set; } = 0;

    private int currentCount = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentCount = StartingCount;
    }

    private void MoveMeToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncrementCounterAction());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await VisitTrackingService.TrackVisitInLocal();
            await VisitTrackingService.TrackVisitInSession();
        }
    }
}
