﻿@page "/showcase.me"
@inject IJSRuntime JsRuntime

<AuthorizeView>
    <Authorized>
        <h1>Blazor Fundamentals</h1>

        <ParentComponent AlertText="This is an alert" />

        <span id="username"></span>
    </Authorized>
    <NotAuthorized>
        Sorry you cannot see this
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var authState = await authStateTask;
            var user = authState.User;
            var username = user.Identity.Name;
            await JsRuntime.InvokeVoidAsync("setElementTextById", "username", $"My name is: {username}");
        }
    }
}